<section class="py-5 min-vh-100 d-flex align-items-center" style="background: linear-gradient(135deg, #0b1d3a 0%, #18345f 100%); color: white;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="display-4 display-lg-1 fw-bold mb-3">
          Hi, I'm <span class="text-warning text-nowrap">Vishwa Logesh S</span>
        </h1>
        <h2 class="h2 mb-4">
          Full Stack .NET Developer
        </h2>
        <p class="lead mb-5">
         Passionate about crafting scalable web applications with .NET and modern frontend technologies. Actively seeking full-time opportunitiesto innovate and make an impact.
        </p>
        <div class="d-flex justify-content-center gap-3 mb-5">
          <a href="#contact" class="btn btn-outline-light btn-lg">Contact Me</a>
        </div>

      </div>
    </div>
  </div>
</section>
